In [30]:
lista = [2, 3, 4]
lista1 = [1]
lista1 += lista
lista1

[1, 2, 3, 4]

In [64]:
lista = [2, 3, 4]
lista = [1] + lista + [5, 6]
lista

[1, 2, 3, 4, 5, 6]

In [65]:
del(lista[::2])
lista

[2, 4, 6]

In [34]:
lista.append(10)

In [58]:
lista.pop(-1)
lista

[2, 3, 4, 5]

In [52]:
lista

['t',
 'r',
 'a',
 'b',
 'a',
 'l',
 'h',
 'a',
 'n',
 'd',
 'o',
 ' ',
 'c',
 'o',
 'm',
 ' ',
 'l',
 'i',
 's',
 't',
 'a',
 's',
 ' ',
 'e',
 'm',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [37]:
lista

[1, 2, 3, 4, 5, 6]

In [51]:
for a in lista:
    print(a)


[]

t
r
a
b
a
l
h
a
n
d
o

c
o
m

l
i
s
t
a
s

e
m

p
y
t
h
o
n

In [57]:
lista = ['Feijão', 'Arroz', 'Macarrão', 'Carne', 'Beterraba']
lista

['Feijão', 'Arroz', 'Macarrão', 'Carne', 'Beterraba']

In [39]:
for item in lista:
    if item == 'Feijão':
        print('parabéns ganhou cupom')

parabéns ganhou cupom

In [58]:
if 'Beterraba' not in lista: print('não está na lista')
else: print('está na lista')

está na lista

In [46]:
lista

['Feijão', 'Arroz', 'Macarrão', 'Carne']

In [36]:
lista.index('Nescau')

ValueError: 'Nescau' is not in list

In [24]:
lista.index('Arroz')

1

In [25]:
lista[1]

'Arroz'

In [33]:
range(10)

range(0, 10)

In [34]:
numeros = range(10)
type(numeros)

range

In [29]:
items = 1, 3.0, True

In [30]:
items

(1, 3.0, True)

In [32]:
items = tuple(reversed('paralelepipedo'))
items

('o', 'd', 'e', 'p', 'i', 'p', 'e', 'l', 'e', 'l', 'a', 'r', 'a', 'p')

In [83]:
texto = """eu moro na cidade de Campos dos Goytacazes
 estudo python"""

In [84]:
texto.replace("Campos dos Goytacazes", "Rio de Janeiro")

'eu moro na cidade de Rio de Janeiro\n estudo python'

In [88]:
texto2 = 'Tutorial como fazer'
troca = texto2.replace('Tutorial', 'Fazendo')
troca

'Fazendo como fazer'

In [1]:
print('teste')

teste

In [4]:
dicionario = dict()

In [5]:
type(dicionario)

dict

In [6]:
funcionarios = {}

In [7]:
funcionarios['1'] = 'Astolfo'

In [8]:
funcionarios

{'1': 'Astolfo'}

In [17]:
funcionarios ={
'Maria': 30301122,
'Ana': 33547877,
'Carlos': 33381245,
'Fernando': 36458899
}

In [13]:
type(funcionarios)

dict

In [18]:
funcionarios

{'Maria': 30301122, 'Ana': 33547877, 'Carlos': 33381245, 'Fernando': 36458899}

In [19]:
del(funcionarios['Carlos'])

In [20]:
funcionarios

{'Maria': 30301122, 'Ana': 33547877, 'Fernando': 36458899}

In [23]:
funcionarios.keys()

dict_keys(['Maria', 'Ana', 'Fernando'])

In [22]:
funcionarios.values()

dict_values([30301122, 33547877, 36458899])

In [24]:
funcionarios['Maria']

30301122

In [29]:
def printar_nome(nome):
    print('Nome: ', nome)

In [30]:
nome = 'Maria'
printar_nome(nome)

Nome:  Maria

In [33]:
def formatar_nomes(nome, sobre_nome):
    return nome + ' ' + sobre_nome

In [34]:
nome = 'Pedro'
sobre_nome = 'Cabral'
formatar_nomes(nome, sobre_nome)

'Pedro Cabral'

In [ ]:
#Crie uma função chamada 'soma', que dever retornar o valor 
# da soma entre os números x e y